
.light,.dark{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.light{
    background-color: rgb(255, 242, 0);
    color: black;
}

.dark{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 0);

}

.small{
    font-size: 20px;
}

.big{
    font-size: 52px;
}




